{% extends 'page.twig' %}

{% block content %}
<div class="container">
<div class="row">
{% if res==0 %}
<div class="col-md-12">
  <h1>{%trans%}Your cart is empty{%endtrans%}</h1>
  <br /><br />
  <a href="/" class="btn btn-lg btn-primary"
	>{%trans%}Back{%endtrans%}</a
  >
</div>
{%else%}
<div class="col-md-12">
  <h1>{%trans%}Your cart{%endtrans%}</h1>
  <br /><br />
  <table class="table table-striped">
	<thead>
	  <tr>
		<th class="hidden-xs"></th>
		<th>{%trans%}Product{%endtrans%}</th>
		<th class="text-right">{%trans%}Price{%endtrans%}</th>
		<th class="text-right">{%trans%}Quantity{%endtrans%}</th>
		<th class="text-right">{%trans%}Sum price{%endtrans%}</th>
		<th class="text-right"></th>
	  </tr>
	</thead>
	<tbody>
	  {% set sum_tax=0 %} {%for value in res.contents%} {% set
	  sum_tax=sum_tax+(value.sum_price*value.attributes.sys_tax/(value.attributes.sys_tax+1))%}
	  <tr>
		<td class="col-md-2 hidden-xs">
		  <img src="{{value.attributes.pic}}" width="100%" />
		</td>
		<td class="col-md-4">{{value.name}}<br />{{value.description}}</td>
		<td class="col-md-2 text-right">
		  {{ value.price|number_format(2)}} EUR
		</td>
		<td class="col-md-2 text-right">{{ value.quantity }}</td>
		<td class="col-md-2 text-right">
		  {{ value.sum_price|number_format(2)}} EUR
		</td>
		<td class="col-md-2 text-right">
		  <a href="del_from_cart?id={{value.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
</svg></a>
		</td>
	  </tr>
	  {%endfor%}
	  <tr>
		<td class="hidden-xs"></td>
		<td></td>
		<td><h3>{%trans%}Sum{%endtrans%}:</h3></td>
		<td></td>
		<td class="text-right"><h3>{{ res.sum|number_format(2)}} EUR</h3></td>
		<td></td>
	  </tr>
	  <tr>
		<td class="hidden-xs"></td>
		<td></td>
		<td><h5>{%trans%}Included tax{%endtrans%}:</h5></td>
		<td></td>
		<td class="text-right"><h5>{{ sum_tax|number_format(2)}} EUR</h5></td>
		<td></td>
	  </tr>
	</tbody>
  </table>
  <p align="right">
	<a href="your-data" class="btn btn-lg btn-primary"
	  >{%trans%}Next{%endtrans%}</a
	><a
	  href="express-checkout"
	  style="margin-left: 5px"
	  class="btn btn-lg btn-primary"
	  >Express-Checkout</a
	>
  </p>
</div>
<div class="col-md-12">
  <hr />
  {%if coupon_error!=""%}
  <div class="alert alert-danger">{{coupon_error}}</div>
  {%endif%}
  <form method="POST" action="add-coupon" class="form form-inline">
	{%if coupon_error==1%}
	<div class="alert alert-danger" role="alert">
	  {%trans%}The entered coupon-code seems to be invalid or you already used
	  this code before{%endtrans%}.
	</div>
	{%endif%}
	<h3>
	  {%trans%}I have a coupon-code{%endtrans%}:
	  <input type="text" name="coupon" value="" class="form-control" /><input
		type="submit"
		class="btn btn-primary"
		value="{%trans%}Use coupon-code{%endtrans%}"
	  />
	</h3>
  </form>
</div>
{%endif%}
</div></div>
{% endblock %}
