{% set open = false %}

{% for value in res.contents.byclass.content_block %}

    {% if open != value.attributes.layout.value %}

        {% if open == 'only_img' %}
            
            </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
                
            {% set open = false %}

        {% elseif open == 'title' or open == 'text_block' or open == 'text_on_img' %}
            
            </div></div></div>
            {% set open = false %}

        {% endif %}

    {% endif %}

    {% if value.class == 'content_block' %}

        {% if value.attributes.layout.value == 'only_img' %}

             {% if open == false %}

                <div class="" style="width:90%; margin-left:5%;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                <ol class="carousel-indicators">
                {% for value in res.contents.byclass.content_block %}
                {% if value.attributes.layout.value == 'only_img' %}
                <li data-target="#myCarousel" data-slide-to="{{loop.index}}" {% if loop.first %}class="active"{% endif %}>
                {% endif %}
                {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    
             {% endif %}

                <div class="item {% if open == false %}active{% endif %}">
                    <img src="{{ value.attributes.img.value }}" alt="IMG" width="100%">
                    <div class="carousel-caption">
                    <h3>{{ value.attributes.title.value|raw }}</h3>
                    <p>{{ value.attributes.description.value|raw }}</p>
                    </div>
                </div>

            {% if open == false %}
                {% set open = 'only_img' %}
            {% endif %}

        {% elseif value.attributes.layout.value == 'title' %}

            {% if open == false %}
            {% set open = 'title' %}
            <div class="container">
                <div class="row">
                    <div class="column">
            {% endif %}

            <h1 class="mixed-headline"><span>{{ value.attributes.title.value|raw }}</span></h1>

        {% elseif value.attributes.layout.value == 'text_block' %}

        {% if open == false %}
            {% set open = 'text_block' %}
            <div class="container">
                <div class="row">
                    <div class="column">
            {% endif %}

            <div class="column column--size-5">{{ value.attributes.description.value|raw }}</div>

        {% elseif value.attributes.layout.value == 'text_on_img' %}

            {% if open == false %}
            {% set open = 'text_on_img' %}
                <div class="container">
                <div class="row">
                    <div class="column">
            {% endif %}
            <div >
                <img src="{{ value.attributes.img.value}}" alt="IMG" style="max-height: 500px;width: 100%;object-fit: cover;">
                <p style="position: absolute;font-size: 100px;margin-top: -420px;margin-left: 50px;color: white;">{{ value.attributes.title.value|raw }}</p>
            </div>

        {% elseif value.attributes.layout.value == 'spacer' %}

            <div style="padding-top: 50px; padding-bottom: 50px;">

        {% elseif value.attributes.layout.value == 'img_left_text_right' %}

             <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="{{ value.attributes.img.value }}" alt="IMG" style="max-height: 500px;width: 100%;object-fit: cover;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ value.attributes.description.value|raw }}
                    </div>

                </div>
            </div>
            {% set open = false %}

        {% elseif value.attributes.layout.value == 'img_right_text_left' %}

             <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ value.attributes.description.value|raw }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="{{ value.attributes.img.value }}" alt="IMG" style="max-height: 500px;width: 100%;object-fit: cover;">
                    </div>

                </div>
            </div>
            {% set open = false %}

        {% endif %}

    {% endif %}

    {% if loop.last %}

            <script>
                console.log('closing');
            </script>

            {% if open == 'only_img' %}
                </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
                {% set open = false %}
            {% elseif open == 'title' or open == 'text_block' or open == 'text_on_img'%}
                </div></div></div>
                {% set open = false %}
            {% endif %}

        {% endif %}



{% endfor %}