{% extends "page_checkout.twig" %}

{% block content %}

<style>
	.pay_item {
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-right: 39px;
	}
	
	.pay_item img {
		height: 30px;
		object-fit: contain;
	}
	
	.rightbg6 {
		height: 100vh;
	}
	
	@media only screen and (max-width: 900px) {
		
		.rightbg6 {
			height: 100%;
		}
		
	}
</style>

<div class="row" style="min-height: 100vh; border-radius: 9px;">
	
	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">{%trans%}Login{%endtrans%}</h5>
		  </div>
		  <div class="modal-body">
			<form method="POST" id="loginForm" action="express-login" class="uk-form uk-text-center">
				<div class="form-group">
				<label>{%trans%}Username{%endtrans%}</label><br>
				<input type="text" class="form-control input-lg" name="username">
				</div>
				<div class="form-group">
				<label>{%trans%}Password{%endtrans%}</label><br>
				<input type="password" class="form-control input-lg" name="password">
				</div>
				<div class="form-group">
				  <input type="hidden" name="profile" value="{{profile}}">
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">{%trans%}Close{%endtrans%}</button>
			<button type="submit" form="loginForm" class="btn btn-primary">{%trans%}Login{%endtrans%}</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">{%trans%}Register{%endtrans%}</h5>
		  </div>
		  <div class="modal-body">
			<form method="POST" action="express-register" class="form" id="registerForm">
				<div class="form-group">
					<label>{%trans%}Username{%endtrans%}</label><br>
					<input type="input" class="form-control input-lg" name="user" value="{{user}}">
				</div>
				<div class="form-group">
					<label>{%trans%}E-Mail{%endtrans%}</label><br>
					<input type="input" class="form-control input-lg" name="email" value="{{email}}">
				</div>
				<div class="form-group">
					<label>{%trans%}Password{%endtrans%}</label><br>
					<input type="password" class="form-control input-lg" name="password">
				</div>
				<div class="form-group">
					<label>{%trans%}Repeat password{%endtrans%}</label><br>
					<input type="password" class="form-control input-lg" name="password2">
				</div>
				<div class="form-group">
					<input type="hidden" name="already_sent" value="1">
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">{%trans%}Close{%endtrans%}</button>
			<button type="submit" form="registerForm" class="btn btn-primary">{%trans%}Register{%endtrans%}</button>
		  </div>
		</div>
	  </div>
	</div>
	
<form action="express-checkout" method="POST" id="expressForm">

  <div class="col-md-6" style="height: 100%;">
	
	<div class="col-md-12" style="padding-top: 40px;">
	  <a href="index.php">{% include 'part_logo.twig' %}</a>
	</div>
	<br /><br />
	<br /><br />
	
	<h1 style="padding-top: 40px;">Express Checkout</h1><br>
	
	
	{#
	<section class="payment_box pb-4">
	<h3>{%trans%}Payment Method{%endtrans%}</h3>
				
	<div class="d-flex align-items-center pt-lg-3">
	  <label class="pay_item"><img src="/img/paypal.png" alt="paypal">
		<input type="radio" checked="checked" value="1" name="id_payment" id="id_payment">
		<span class="checkmark"></span>
	  </label>
	  <label class="pay_item"><img src="/img/sofortueberweisung.jpg" alt="visa">
		<input type="radio" name="id_payment" value="5" name="id_payment" id="id_payment">
		<span class="checkmark"></span>
	  </label>
	  <label class="pay_item"><img src="/img/stripe.png" alt="stripe">
		<input type="radio" name="id_payment" value="7" name="id_payment" id="id_payment">
		<span class="checkmark"></span>
	  </label>
	  <label class="pay_item"><img src="/img/vorkasse.jpg" alt="visa">
		<input type="radio" name="id_payment" value="2" name="id_payment" id="id_payment">
		<span class="checkmark"></span>
	  </label>
	</div>
    </section>
	#}
	<section class="payment_box pb-4">
	<h3>{%trans%}Payment{%endtrans%}</h3>
	<p>{%trans%}After placing your order, you will be redirected to mollie for payment.{%endtrans%}</p>
	<img src="/img/paymentsbymollie.png" style="max-width: 55%;" />
	<input type="hidden" value="9" name="id_payment" id="id_payment">
	</section>
		
	{% if error_count>0 %}
	<div class="alert alert-danger" role="alert">
	  {%trans%}Please fill in all fields marked with *{%endtrans%}
	</div>
	{% endif %}
	
	<br>
	<h3>Ihre Daten</h3>
	{% if username == "" %}
	<p>Sie haben bereits ein Konto? <a type="button" data-toggle="modal" data-target="#login" href="javascript:;">{%trans%}Anmelden{%endtrans%}</a> {%trans%}oder{%endtrans%} <a type="button" data-toggle="modal" data-target="#register" href="javascript:;">{%trans%}Registrieren{%endtrans%}</a></p>
	{% endif %}
	<br>
	
	  <div class="form-group {{error.email}}">
		<input type="text" placeholder="E-Mail *" name="email" class="form-control" value="{{ userdata.email }}" required>
	  </div>
	  <div class="form-group">
		<select name="salutation" class="form-control">
		  <option value="">{%trans%}Salutation{%endtrans%}</option>
		  <option value="Mrs" {% if userdata.salutation=='Mrs' %}selected{%endif%}>{%trans%}Mrs{%endtrans%}</option>
		  <option value="Mr" {% if userdata.salutation=='Mr' %}selected{%endif%}>{%trans%}Mr{%endtrans%}</option>
		</select>
	  </div>
	  <div class="row">
		<div class="col-lg-6 form-group {{error.firstname}}">
		  <input type="text" placeholder="{%trans%}Firstname{%endtrans%} *" name="firstname" class="form-control" value="{{userdata.firstname}}" required>
		</div>
		<div class="col-lg-6 form-group {{error.lastname}}">
		  <input type="text" placeholder="{%trans%}Lastname{%endtrans%} *" name="lastname" class="form-control" value="{{userdata.lastname}}" required>
		</div>
	  </div>
	  <div class="form-group">
		<input type="text" placeholder="{%trans%}Company{%endtrans%}" name="companyname" class="form-control" value="{{userdata.companyname}}">
	  </div>
	  <div class="form-group">
		<input type="text" placeholder="{%trans%}Department{%endtrans%}" name="department" class="form-control" value="{{userdata.department}}">
	  </div>
	  <div class="row">
	  <div class="col-lg-6 form-group {{error.street}}">
		<input type="text" placeholder="{%trans%}Street{%endtrans%} *" name="street" class="form-control" value="{{userdata.street}}" required>
	  </div>
	  <div class="col-lg-6 form-group {{error.number}}">
		<input type="text" placeholder="{%trans%}Number{%endtrans%} *" name="number" class="form-control" value="{{userdata.number}}" required>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-lg-6 form-group {{error.city}}">
		<input type="text" placeholder="{%trans%}City{%endtrans%} *" name="city" class="form-control" value="{{userdata.city}}" required>
	  </div>
	  <div class="col-lg-6 form-group {{error.zip}}">
		<input type="text" placeholder="{%trans%}Zip{%endtrans%} *" name="zip" class="form-control" value="{{userdata.zip}}" required>
	  </div>
	  </div>
	  <div class="form-group {{error.state}}">
		<input type="text" placeholder="{%trans%}State{%endtrans%} *" name="state" class="form-control" value="{{userdata.state}}">
	  </div>
	  <div class="form-group {{error.country}}">
		<select name="country" class="form-control" required>
		  <option value="">{%trans%}Please choose your country{%endtrans%}</option>
		  <option value="DE" {% if userdata.country=='DE'%}selected{%endif%}>{%trans%}Germany{%endtrans%}</option>
		</select>
	  </div>
	  
	  <div class="form-group">
		  <textarea type="text" placeholder="{%trans%}Notes{%endtrans%}" name="notes" class="form-control">{{userdata.notes}}</textarea>
	  </div>
	  
	  <div class="different-address">
		<div class="ship-different-title">
			<h4>
				<label>Versand an eine andere Adresse?</label>
				<input id="ship-box" name="diffaddress" value="diffadd" type="checkbox" onclick="toggleAddr()" />
			</h4>
		</div>
		<div id="secondaryaddr">
	  
		<div class="form-group">
		  <select name="salutation" class="form-control">
			<option value="">{%trans%}Salutation{%endtrans%}</option>
			<option value="Mrs" {% if userdata.salutation=='Mrs' %}selected{%endif%}>{%trans%}Mrs{%endtrans%}</option>
			<option value="Mr" {% if userdata.salutation=='Mr' %}selected{%endif%}>{%trans%}Mr{%endtrans%}</option>
		  </select>
		</div>
		<div class="row">
		  <div class="col-lg-6 form-group {{error.firstname}}">
			<input type="text" placeholder="{%trans%}Firstname{%endtrans%} *" name="dfirstname" class="form-control" value="{{userdata.firstname}}">
		  </div>
		  <div class="col-lg-6 form-group {{error.lastname}}">
			<input type="text" placeholder="{%trans%}Lastname{%endtrans%} *" name="dlastname" class="form-control" value="{{userdata.lastname}}">
		  </div>
		</div>
		<div class="form-group">
		  <input type="text" placeholder="{%trans%}Company{%endtrans%}" name="dcompanyname" class="form-control" value="{{userdata.companyname}}">
		</div>
		<div class="form-group">
		  <input type="text" placeholder="{%trans%}Department{%endtrans%}" name="ddepartment" class="form-control" value="{{userdata.department}}">
		</div>
		<div class="row">
		<div class="col-lg-6 form-group {{error.street}}">
		  <input type="text" placeholder="{%trans%}Street{%endtrans%} *" name="dstreet" class="form-control" value="{{userdata.street}}">
		</div>
		<div class="col-lg-6 form-group {{error.number}}">
		  <input type="text" placeholder="{%trans%}Number{%endtrans%} *" name="dnumber" class="form-control" value="{{userdata.number}}">
		</div>
		</div>
		<div class="row">
		<div class="col-lg-6 form-group {{error.city}}">
		  <input type="text" placeholder="{%trans%}City{%endtrans%} *" name="dcity" class="form-control" value="{{userdata.city}}">
		</div>
		<div class="col-lg-6 form-group {{error.zip}}">
		  <input type="text" placeholder="{%trans%}Zip{%endtrans%} *" name="dzip" class="form-control" value="{{userdata.zip}}">
		</div>
		</div>
		<div class="form-group {{error.state}}">
		  <input type="text" placeholder="{%trans%}State{%endtrans%} *" name="dstate" class="form-control" value="{{userdata.state}}">
		</div>
		<div class="form-group {{error.country}}">
		  <select name="dcountry" class="form-control">
			<option value="">{%trans%}Please choose your country{%endtrans%}</option>
			<option value="DE" {% if userdata.country=='DE'%}selected{%endif%}>{%trans%}Germany{%endtrans%}</option>
		  </select>
		  <!-- <input type="text" name="country" class="form-control" value="{$userdata.country}"> -->
		</div>
		
		</div>
	  
	  </div>
	 

  </div>

  <div class="col-md-6 rightbg6" style="background-color: #f7f7f7; border-radius: 0 10px 10px 0;">
	<br />
	<h3>{%trans%}Your cart{%endtrans%}</h3>
	<br />
	
	<div style="background-color: #ffffff; margin-top: 5vh; border-radius: 10px; ">

	  <table class="table table-striped small">
		<thead>
		  <tr>
			<th class="hidden-xs"></th>
			<th>{%trans%}Product{%endtrans%}</th>
			<th class="text-right">{%trans%}Quantity{%endtrans%}</th>
			<th class="text-right">{%trans%}Sum{%endtrans%}</th>
		  </tr>
		</thead>
		<tbody>
		  {% set sum_tax=0 %}
		  {% for value in cart.contents %}
		  {% set sum_tax=sum_tax+value.sum_price*value.attributes.sys_tax %}
		  <tr>
			<td class="col-md-2 hidden-xs"><img src="{{value.attributes.pic}}" width="100%"></td>
			<td class="">{{ value.name }}</td>
			<td class="text-right">{{ value.quantity }}</td>
			<td class="text-right">{{ value.sum_price|number_format(2)}} EUR</td>
		  </tr>
		  {% for value in value.sub_elements.contents %}
		  <tr>
			<td class="col-md-2 hidden-xs"><img src="{{value.attributes.pic}}" width="100%"></td>
			<td class="col-md-4">+ {{ value.name }}<br>{{ value.description }}</td>
			<td class="col-md-2 text-right">{{ value.quantity }}</td>
			<td class="col-md-2 text-right">{{ value.sum_price|number_format(2)}} EUR</td>
		  </tr>
		  {% endfor %}
		  {% endfor %}

		  {% if cart.delivery_costs.sum>0 %}
		  <!--  <tr>
		  <td>Lieferkosten:</td><td class="col-md-2 text-right">1</td><td class="col-md-2 text-right">{|number_format:$cart.delivery_costs.sum,2} EUR</td>
		</tr>-->
		  {% endif %}
		  <tr>
			<td>
			  <h5>{%trans%}Sum{%endtrans%}:</h5>
			</td>
			<td></td>
			<td></td>
			<td class="text-right">
			  <h5>{{(cart.sum+cart.delivery_costs.sum)|number_format(2)}} EUR</h5>
			</td>
		  </tr>
		</tbody>
	  </table>
	  
	</div>
	<br />
	  <p align="right"><button type="submit" form="expressForm" class="btn btn-primary float-right" style="border-radius: 10px;">{%trans%}Next{%endtrans%}</button>
  </div>

</form>

</div>

<script>
  
  document.getElementById("secondaryaddr").style.display = "none";
  
  function toggleAddr() {
	
	var x = document.getElementById("secondaryaddr");
	if (x.style.display === "none") {
	  x.style.display = "block";
	} else {
	  x.style.display = "none";
	}
	
  }
  
</script>

{% endblock %}