{%extends "page.twig"%}
{%block content%}
<div class="col-md-12">
<h1>{%trans%}Your orders{%endtrans%}:</h1>
<br><br>
</div>
<div class="col-md-8">

<table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{%trans%}Date{%endtrans%}</th>
                <th>{%trans%}Payment{%endtrans%}</th>
                <th>{%trans%}Delivery{%endtrans%}</th>
                <th>{%trans%}Status{%endtrans%}</th>
              </tr>
            </thead>
            <tbody>
            {% for value in res%}
              <tr>
                <td>{{value.order_number}}</td>
                <td>{{value.creation_date}}</td>
                <td>{{value.payment_state_label}}</td>
                <td>{{value.delivery_state_label}}</td>
                <td>{{value.order_state}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>


</div>
<div class="col-md-4">
{%include "profile_sidebar.twig"%}
</div>
{%endblock%}
